.header {
    padding: .5rem;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d4d4d;
    font-size: 1.3rem;
}

.currency {
    color: #fff;
    margin: 0 2rem;
    display: flex;
    align-items: center;
}

.rate {
    color: #ffccb5;
    margin-left: .5rem;
}

.flag {
    margin-right: .5rem;
    font-size: 1.7rem;
}

@media screen and (max-width: 350px) {
    .header {
        flex-direction: column;
    }

    .currency {
        margin-top: .3rem;
    }
}